.chart {
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
    max-height: 50%;

    .title {
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 20px;
      text-align: center;
      color: #000000;
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }